        

    <section class="projects">
        <ul class="no-list">
            {% for post in site.categories.work %}
                {% if post.categories contains 'work' and post.categories contains 'featured' %}{% else %}
                <li class="{{ post.shortname }} {{ post.position }}">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <img src="{{ site.baseurl }}/img/projects/{{ post.short-name }}/{{ post.front-image-small }}" alt="{{ post.title }}" />
                        <div class="description" style="display: none;">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.descripton }}</p>
                        </div>
                    </a>
                </li>
                           {% endif %}

            {% endfor %}
        </ul>
    </section>
